@font-face {
  font-family: "starJediHollow";
  src: url("../fonts/star_jedi_hollow.ttf") format('truetype');
}

@font-face {
  font-family: "starJedi";
  src: url("../fonts/star_jedi.ttf") format('truetype');
}

@font-face {
  font-family: "episode";
  src: url("../fonts/episode1.ttf") format('truetype');
}

html {
  background: url("../images/star_wars_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "starJedi", serif;
  color: white;
  font-size: 6rem;
  text-align: center;
  margin: 1rem 0rem;
}

h2 {
  font-family: "starJediHollow";
  font-size: 2rem;
  color: white;
  margin: 1rem;
  margin-top: 0;
}

div {
  font-size: 1rem;
}

.directions {
  height: 351px;
}

.message {
  font-family: "episode", serif;
  font-size: 1.25rem;
  color: black;
  margin: .5rem;
  background-color: white;
  visibility: hidden;
  padding: 1rem;
  line-height: 1.75rem;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  word-spacing: 5px;
  letter-spacing: 2px;
  display: inline-block;
}

#reset {
  visibility: hidden;
}

#win {
  visibility: visible;
  background-color: #28a745;
  color: white;
}

#loss {
  visibility: visible;
  background-color: #dc3545;
  color: white;
}

#warning {
  visibility: visible;
  background-color: #ffc107;
  color: black;
}

#info {
  visibility: visible;
  background-color: #007bff;
  color: white;
}

.characters {
  display: flex;
}

.image-container {
  position: relative;
}

img {
  margin: 10px;
  padding: 5px;
  border: solid 2px lightskyblue;
}

.top-left {
  font-family: "episode", serif;
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 5%;
  line-height: 30px;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  letter-spacing: 2px;
}

.bottom-right {
  font-family: "episode", serif;
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 5%;
  line-height: 30px;
  color: white;
  position: absolute;
  bottom: 22px;
  right: 20px;
  padding: 5px;
  letter-spacing: 2px;
}

#hero>img {
  border: solid 2px #95df57;
}

#enemy>img {
  border: solid 2px #ffc107;
}

#opponent>img {
  border: solid 2px #dc3545;
}

#hero-container {
  width: 50%;
  float: left;
}

#opponent-container {
  width: 50%;
  float: right;
}

.attack {
  background-color: black;
  border: none;
  color: #dc3545;
  height: 50px;
  font-family: "starJedi", serif;
  position: relative;
  padding: 10px;
  border-radius: 5%;
  font-size: 20px;
  margin-top: 225px;
}

.reset {
  background-color: #666;
  border: none;
  color: white;
  height: 50px;
  font-family: "starJedi", serif;
  position: relative;
  padding: 10px;
  border-radius: 5%;
  font-size: 20px;
  margin: 1rem;
  margin-top: 225px;
  margin-bottom: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}